.episodeDetail-container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 25px;
}

.episode-info {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(0, max-content);
    height: fit-content;
    box-shadow: inset -1px -2px 4px rgba(0,0,0,0.3);
    padding: 10px;
    border-radius: 5px;
}

.episode-info p {
    font-size: 0.8em;
    padding-top: 10px;
    padding-bottom: 10px;
    font-style: italic;
}

.episode-info div {
    font-size: 0.8em;
    padding-bottom: 10px;
    font-style: italic;
}


audio {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}
audio::-webkit-media-controls-panel {
    background-color: rgb(75, 75, 75);

  }

audio::-webkit-media-controls-mute-button{
    filter: invert(1);
  }
audio::-webkit-media-controls-play-button{
    filter: invert(1);
}
audio::-webkit-media-controls-current-time-display {
    filter: invert(1);
  }

audio::-webkit-media-controls-time-remaining-display {
    filter: invert(1);
}
audio::-webkit-media-controls-timeline {
    filter: invert(1);
}
