header {
    max-width: 1600px;
    padding: 10px 50px;
    position: fixed;
    top:0;
    left:0;
    right:0;
    z-index: 99;
    background-color: white;
}
.header-container {
    border-bottom: 1px solid lightgray;
    font-size: 1.5em;
    font-weight: 600;
}


.header-container a {
    color: rgb(51, 131, 198);
}