.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1600px;
    margin: 15px 80px;
    position: fixed;
    top:0;
    right:0;
    z-index: 100;
}

.loader::after {
    animation: pulse 1000ms cubic-bezier(0.9, 0.7, 0.5, 0.9) infinite;
  }

@keyframes pulse {
    0% {
        opacity: 0;
      }
      50% {
        transform: scale(1.3);
        opacity: 0.4;
      }
}

.loader::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #75b0e0;
    border-radius: 50%;
    z-index: -1;
  }
  
