.container {
    padding-top: 55px;
    padding-bottom: 32px;
}

.searchBar-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 5px;
    position: fixed;
    right: 50px;
    margin-top: 10px;
    z-index: 99;
}
.searchBar-container input {
    border: 1px solid lightgray;
    width: 200px;
    border-radius: 5px;
    padding:2px;
    appearance: none;
    outline: none;
    padding-left: 10px;
}


input::placeholder {
    font-size: 1em;
}

.searchBar-container p {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(51, 131, 198);
    border-radius: 10px;
    margin-top: 13%;
    padding-left: 10px;
    padding-right: 10px;
}

.searchBar-container span {
    color: white;
    font-weight: 600;
    font-size: 0.8em;
}

.grid {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-gap: 25px;
    padding-right: 10px;
    padding-left: 10px;
}

.card-container {
    position: relative;
    padding-top: 100px;
    z-index: 1;
}

.card-container img {
    position: absolute;
    display: block;
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    padding-top: 70px;
    padding-bottom: 10px;
    bottom: 50%;
    box-shadow: inset -1px -2px 4px rgba(0,0,0,0.3);
}

.card-info h3 {
    text-decoration: none;
    color: black;
    font-size: 1em;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.card-info p {
    text-decoration: none;
    color: grey;
    font-size: 0.8em;
    padding-top: 3px;
    font-weight: 600;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}

#endMessage {
    text-align: center;
    margin-top: 20px;
    color: grey;
    font-size: 1em;
    font-weight: 600;
}

#loadingMessage {
    text-align: center;
}