

.podcastDetail-container aside {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px;
}



.episodes-counter {
    box-shadow: inset -1px -2px 4px rgba(0,0,0,0.3);
    padding: 10px;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 5px;
}

.table-container {
    display: flex;
    justify-content: center;
    box-shadow: inset -1px -2px 4px rgba(0,0,0,0.3);
    max-height: 500px;
    overflow-y: scroll;
    border-radius: 5px;
}

table {
    margin-bottom: 15px;
    margin-top: 15px;
    border-collapse: collapse;
    width: 95%;
}

thead {
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: inset 0 -1px 0 lightgray;
}

th {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    font-size: 0.9em;
}

tbody tr:nth-child(even) {
    background-color: rgba(236, 233, 233, 0.847);

  }

tbody tr {
    font-size: 0.9em;
    border-bottom: 1px solid rgb(179, 172, 172);
}

tbody td {
    padding-top: 10px;
    padding-bottom: 10px;
}

td:nth-child(1) {
    padding-left: 5px;
}

td:nth-child(2) {
    padding-right: 15px;
}

a {
    color: rgb(51, 131, 198);
    font-weight: bold;
}

  
  