.podcastDetail-container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 25px;
}


@media (max-width:414px) {
    .podcastDetail-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px;
    }
}

.podcastCard-detail {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(0, max-content);
    align-items: center;
    box-shadow: inset -1px -2px 4px rgba(0,0,0,0.3);
    border-radius: 5px;
    height: fit-content;
    padding-top: 10px;
    padding-bottom: 10px;
}

.podcastCard-detail figure {
    display: block;
    align-content: center;
    justify-self: center;
}

.podcastCard-detail img {
    display: block;
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.podcastCard-detail div {
    width: 90%;
    border-top: lightgray 1px solid;
    justify-self: center;

}

.detailBox-1 {
   padding-left: 5px;
   padding-right: 5px;
    padding-bottom: 10px;
}

.detailBox-1 h3 {
    padding-top: 15px;
   font-size: 1em;
   color: black;
}

.detailBox-1 p {
   font-size: 0.8em;
   font-style: italic;
   color: black;
}

.detailBox-2 h3 {
    padding-top: 15px;
    font-weight: 600;
    font-size: 0.9em;

}

.detailBox-2 p {
   font-size: 0.8em;
   font-style: italic;
}

