@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
}

a {
  text-decoration: none;
}

